<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acceso Denegado</title>
    <a href="javascript: history.go(-1)" class="btn btn-info" role="button">Atrás</a>
    <!--***********************************************************************************-->
    <!--***************cabezote con nombre e imagen***************************************-->


    <center><img class="center"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1BzdIN992m1fVTQlwsvKzc1HDryz5JMBkYw&usqp=CAU"width="40%"/>
        <!--*****************************************************************************************-->



    </head>
    <body>


<style>
    h1 { color: #3339FF; }
  </style>
    <h1>No tienes acceso a esta area</h1>
    </body>
    </html>